@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    @apply cursor-pointer;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-indigo-500;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-300;
  }
}

@layer utilities {
  .breakingWords {
    word-wrap: "break-word";
    overflow-wrap: "break-word";
    word-break: "break-word";
  }
}

:root {
  --card: rgba(255, 255, 255, 0.7);
  --card-foreground: #374151;
  --doneGreen: #00c950;
}

.dark {
  --card: rgba(30, 41, 59, 0.8);
  --card-foreground: #f1f5f9;
  --doneGreen: #00c950;
}

@theme inline {
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-doneGreen: var(--doneGreen);
}
